VerticalStackLayout{
    padding: 20;
    spacing: 12;
}
^contentpage {
    background-color: #023047;
}

Label .header {
    font-weight: 700;
    color: #fb8500;
    text-align:center;
}

Label .small {
    font-size: 12;
    color: #6E6E6E;
}
datatemplate label{
    color: #023047;
    font-size: 14;
}   

Frame .card {
    border-color: #C8C8C8;
    border-radius: 6;
    padding: 8;
    margin: 4;
}

CollectionView {
    margin: 0;
}

VerticalStackLayout * {
    margin: 5;
}

.noMargin *{
    margin: 0;
}