.appShell {
    -maui-shell-background: #023047;
    -maui-shell-title: #fb8500;
    -maui-shell-tabbar-background: #063E56;
    -maui-shell-tabbar-title: #FB8500;
    -maui-shell-tabbar-unselected: #D2D74C;
}
verticalstacklayout {
    padding: 20;
    spacing: 12;
}

^contentpage {
    background-color: #219EBC;
}

^verticalstacklayout *{
    margin: 5;
}

.container {
    background-color: #126782;
    border-radius: 8;
    padding: 12;
}

button, entry, picker {
    color: #D2D74C;
    -maui-placeholder-color: #D2D74C;
}

label {
    color: #FB8500;
}

.header {
    font-weight: bolder;
    font-size: 30;
    text-align: center;
    margin-bottom: 20;
    margin-top: -10;
}

.small {
    font-size: 12;
}
.big {
    font-size: 20;
}

.classContainer {
    background-color: #1A839F;
    border-radius: 8;
}

.classContainer .header {
    margin-top: -30;
}

.studentsContainer {
    background-color: #219EBC;
    padding: 10;
}

.studentsContainer > label {
    font-size: 14;
    color: #D2D74C;
    text-align: center;
}

#selectedStudent{
    font-size: 20;
    color: #D2D74C;
    text-align: center;
    margin-top: 10;
}

#disabled {
    background-color:dimgrey;
}
